:root {
    --dark-blue:#15178d;
    --grey: #d7e0e0;
    --light-blue: #79c1f7;
    --pale-teal: #badcec;
    --dark-grey:#5c6666;

}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./images/adam-kring-EFRD6Cr7skc-unsplash.jpg);
    background-size: cover;
    background-position: 80%;
    padding-top: 20px;
}
header h1 {
    color: var(--dark-grey);
    font-size: 36px;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 28px;
}
header nav ul li a:hover {
    color: var(--dark-blue);
    text-decoration: underline;
}
#about-me{
    background-color: var(--grey);
    border-bottom: var(--light-blue) 5px solid;
    margin-bottom: 20px;
    padding: 50px;
    height: 100%;
    display: inline block;
}
#about-me h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #15178d;
    border-bottom: solid 3px var(--light-blue);
}

#about-me img{
    max-height: 400px;
    border: var(--dark-blue) solid 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#about-me p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: var(--dark-blue);
}
#my-work{
    background-color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
#my-work h2{
    font-size: 40px;
    border-bottom: var(--light-blue) 5px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark-blue);
}
.run-buddy {
    height: 100%;
}
.run-buddy img {
    max-height: 400px;
    border-radius: 10%;
    border: var(--light-blue) 10px solid;
}
.run-buddy img:hover{
    border-color: var(--dark-blue);
}
.horiseon {
    height: 100%;
}
.horiseon img {
    max-height: 250px;
    border-radius: 10%;
    border: var(--light-blue) 10px solid;
}
.horiseon img:hover {
    border-color: var(--dark-blue);
}
.other-stuff img {
    max-height: 250px;
    border-radius: 10%;
    border: var(--light-blue) 10px solid;
}
.other-stuff img:hover{
    border-color: var(--dark-blue);
}
.also-this img {
    max-height: 250px;
    border-radius: 10%;
    border: var(--light-blue) 10px solid;
}
.also-this h3 {
    position: absolute;
}
.also-this img:hover{
    border-color: var(--dark-blue);
}
.and-this img {
    max-height: 250px;
    border-radius: 10%;
    border: var(--light-blue) 10px solid;
}
.and-this h3 {
    position: absolute;
}
.and-this img:hover{
    border-color: var(--dark-blue);
}

#contact-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light-blue);
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
footer {
    padding: 40px;
    background-image: url(./images/adam-kring-EFRD6Cr7skc-unsplash.jpg);
    background-size: cover;
    background-position: 20%;
    color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}
footer ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: var(--dark-grey);

}